DB_HOST = '111.11.111.1'  
DB_NAME = 'textbooks'
DB_USER = 'postgres'
DB_PASSWORD = '******' 
DB_PORT = '5432'
EMBEDDING_DIM = '1536'
EMBEDDING_MODEL_ID = 'text-embedding-3-small'
EMBEDDING_MODEL_MAX_TOKENS = 8192
DOCUMENT_DIRECTORY = 'textbooks'
OPENAI_API_KEY = 'sk-...'
RERANKER_MODEL_ID = 'BAAI/bge-reranker-v2-m3'
OPENROUTER_API_KEY = 'sk-...'
OPENROUTER_MODEL_ID = 'google/gemini-2.5-flash'
QUERY_EXPANSION_NUMBER = 3
